<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-title>EcoScan</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Dashboard</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        

       
      </ion-card-content>
    </ion-card>
  </div>
  <ion-footer>
    <ion-grid class="ion-text-center ion-padding">
      <ion-row class="ion-align-items-center">

        <ion-col>
          <p class="footer-text">App - EcoScan</p>
          <p class="footer-text">V 0.1 - 2025</p>
        </ion-col>

        <ion-col>
          <p class="footer-text">Pedro Melendez Miranda</p>
          <p class="footer-text">© 2025. Todos los derechos reservados.</p>
        </ion-col>

        <ion-col>
          <p class="footer-text">Programacion - 4</p>
          <p class="footer-text">Laboratorio #3</p>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>